*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.add__delivery__container {
  margin: 1em;
}

th {
  font-size: larger;
  font-weight: bolder;
}

.deliveries__container {
  flex: 1;
  padding: 1em;
}

.planner__container {
  flex: 2;
  padding: 1em;
}

.planner__cell {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deliveries__row {
  cursor: grab;
}

.planner__cell:hover,
.deliveries__row:hover {
  background-color: #d9d9d9;
}

.deliveries__row:active {
  cursor: grabbing;
  background-color: #999;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}